
     
     <nav class="navbar navbar-expand-lg  fixed-top">
        <div class="container-fluid">
          
          <a class="navbar-brand me-auto " href="#"><img class="logo-img" src="assets/logo/Home.png" alt="logo"></a>
          
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-center  flex-grow-1 pe-3">
                <li class="nav-item" *ngFor="let rout of (isLoggedIn ? routesAdmin : routes)">
                  <a class="nav-link"  [routerLink]="[rout.path]" routerLinkActive="active ">{{rout.name}}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="avatar" *ngIf="user" >
            <img [src]="user.photoURL" alt="avatar" class="avatar-img" /> 
           <span class="displayName">{{user.displayName}}</span>          
          </div>
          <button type="button" class="btn btn-primary boton" (click)="loginComponent()"> 
            {{isLoggedIn ? 'Logout' : 'Login'  }}
          </button>
        </div>
    </nav>
