
.contenedor {
    margin-top: 200px;
}
.navbar {
    background-color: transparent;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 20px;
    margin: 20px;

}
.logo-img{
    width: 100px;
    height: 100px;
    margin: 0 10px;
    
}
.nav-item{
    margin: 0 10px;
    font-size: 1.2rem;
}

.login-buitton{
    background-color: #4CAF50;
    color: white;
    padding: 14px 40px;
    margin: 8px 20px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s background-color;
}
.login-buitton:hover{
    background-color: #45a049;
}
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}
.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}
.nav-link:hover, .nav-link:active {
    color: #000;
}
.nav-link::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4CAF50;
    visibility: hidden;
    transform: scaleX(0);
    transition:  0.3s ease-in-out ;
}
.nav-link:hover::before, .nav-link:active::before{
    width: 100%;
    visibility: visible;
    transform: scaleX(1);
}
.boton{
    border-radius: 50px;
    padding: 14px 40px;
    background-color: #4CAF50;
    font-size: 14px;
    font-weight: bold;
}