<div class="container">
    <form  [formGroup]="formPaciente" class="mt-5  ">

        <div class="form-floating mb-5">
            <input type="text" class="form-control" id="floatingInput1" placeholder="nombre" formControlName="name">
            <label for="floatingInput1">Nombre y Apellidos</label>
        </div>

        <div class="form-floating my-5 ">
            <input type="text" class="form-control" id="floatingInput2" placeholder="distrito de referencia" formControlName="address">
            <label for="floatingInput2">Distritos</label>
        </div>

        <div class="form-floating my-5 ">
            <input type="tel" class="form-control" id="floatingInput3" placeholder="123456987" formControlName="phone">
            <label for="floatingInput3">Telefonos</label>
        </div>

        <div class="form-floating my-5 ">
            <input type="email" class="form-control" id="floatingInput4" placeholder="name@example.com" formControlName="email">
            <label for="floatingInput4">Correo electronico</label>
        </div>

        <div class="form-floating my-5 ">
            <input type="text" class="form-control" id="floatingInput5" placeholder="DNI" formControlName="documentType">
            <label for="floatingInput5">tipo de documetno</label>
        </div>

        <div class="form-floating my-5 ">
            <input type="text" class="form-control" id="floatingInput6" placeholder="123456789" formControlName="nroDeDocument">
            <label for="floatingInput6">Numnero de Documento</label>
        </div>



        <button class="btn btn-primary container-fluid " type="submit" (click)="savePaciente()" [disabled]="formPaciente.invalid">Registrar</button>

    </form>

</div>
